/* .toolbar-col1{
    float: left;
    width: 20%;
    height: 100%;
    background-color: red;
}
.toolbar-col2{
    float: left;
    width: 25%;
    height: 100%;
    background-color: red;
}
.toolbar-col3{
    float: left;
    width: 30%;
    height: 100%;
    background-color: red;
} */